.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
    overflow: hidden;
}

.modal-container {
  background: #F5F8FA;
  padding: 25px;
  border-radius: 14px;
  width: 650px;
  max-width: 95%;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  animation: popup 0.25s ease;
   max-height: 90vh; 
  overflow-y: auto; 
  padding-right: 10px;
   overflow: visible; 
}

.modal-scroll {
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
    overscroll-behavior: contain; 
}

@keyframes popup {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal-title {
  display: flex;
  margin-bottom: 20px;
  color: #0D7FF2;
  font-weight: 700;
   display: flex;
  align-items: center;
  gap: 10px;
  

}

.modal-form .form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.form-group.full {
  grid-column: span 2;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #D9E2EC;
  border-radius: 6px;
  background: #FFFFFF;
}

.modal-actions {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
}

.btn-save {
  background-color: #F28B0D;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

.btn-cancel {
  background-color: #0D7FF2;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

.input-error {
  border-color: #e63946 !important;
  background-color: #ffe6e6;
}

.error-text {
  color: #e63946;
  font-size: 13px;
  margin-top: 4px;
}
.madal-tn-icon {
  font-size: 22px;
  color: #0D7FF2;
}